@page "/biri/{username}"

<section id="profile">
    <ResponseView State="@UserState">
        <ResponseSuccess>
            <ProfileTop Username="@username"/>

            <ProfileCounter/>

            <ProfileButtons LoggedUserId="@LoggedUserId" UserId="@User?.Id"/>

            <ul class="nav nav-tabs profile-selection" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link  @(SelectedSelection == Selection.Entries ?"active":"")" id="entry-tab"
                        data-bs-toggle="tab" data-bs-target="#entry-tab-pane" type="button" role="tab"
                        aria-controls="entry-tab-pane" aria-selected="true"
                    @onclick="()=>SelectedSelection = Selection.Entries">entry'ler</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link  @(SelectedSelection == Selection.Favorites ?"active":"")" id="favorite-tab"
                        data-bs-toggle="tab" data-bs-target="#favorite-tab-pane" type="button" role="tab"
                        aria-controls="favorite-tab-pane" aria-selected="false"
                    @onclick="()=>SelectedSelection = Selection.Favorites">favoriler</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link  @(SelectedSelection == Selection.Images ?"active":"")" id="images-tab"
                        data-bs-toggle="tab" data-bs-target="#images-tab-pane" type="button" role="tab"
                        aria-controls="images-tab-pane" aria-selected="false"
                    @onclick="()=>SelectedSelection = Selection.Images">görseller</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" type="button">istatistikler</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="entry-tab-pane" role="tabpanel" aria-labelledby="entry-tab"
                    tabindex="0">
                    <ResponseView State="@UserEntriesState">
                        <ResponseSuccess>
                            @if (UserEntries != null)
                            {
                                foreach (var item in UserEntries)
                                {
                                    <EntryView Content="@item?.Content" CreatedDate="@item?.CreatedDate" Subject="@item?.Subject"
                                        Url="@item?.Url" Username="@item?.Username" />
                                }
                            }
                        </ResponseSuccess>
                    </ResponseView>
                </div>
                <div class="tab-pane fade" id="favorite-tab-pane" role="tabpanel" aria-labelledby="favorite-tab"
                    tabindex="0">
                    <ResponseView State="@UserFavoritesState">
                        <ResponseSuccess>
                            @if (UserFavorites != null)
                            {
                                foreach (var item in UserFavorites)
                                {
                                    <EntryView Content="@item?.Content" CreatedDate="@item?.CreatedDate" Subject="@item?.Subject"
                                        Url="@item?.Url" Username="@item?.Username" />
                                }
                            }
                        </ResponseSuccess>
                    </ResponseView>
                </div>
                <div class="tab-pane fade" id="images-tab-pane" role="tabpanel" aria-labelledby="images-tab"
                    tabindex="0">
                    <ResponseView State="@UserImagesState">
                        <ResponseSuccess>
                            @if (UserImages != null)
                            {
                                foreach (var item in UserImages)
                                {
                                    <EntryView Content="@item?.Content" CreatedDate="@item?.CreatedDate" Subject="@item?.Subject"
                                        Url="@item?.Url" Username="@item?.Username" />
                                }
                            }
                        </ResponseSuccess>
                    </ResponseView>
                </div>
            </div>
        </ResponseSuccess>
    </ResponseView>
</section>

@code {
    [Parameter] public string username { get; set; }
    [Inject] public IEntryRequestService entryRequestService { get; set; }
    [Inject] public IUserRequestService userRequestService { get; set; }
    [Inject] public AuthenticationStateProvider authenticationStateProvider { get; set; }
    UserViewModel? User;
    Guid? LoggedUserId;

    ApplicationState UserState = new ApplicationState(ResponseStatus.Waiting);
    ApplicationState UserEntriesState = new ApplicationState(ResponseStatus.Waiting);
    ApplicationState UserFavoritesState = new ApplicationState(ResponseStatus.Waiting);
    ApplicationState UserImagesState = new ApplicationState(ResponseStatus.Waiting);

    List<EntryViewModel>? UserEntries;
    List<EntryViewModel>? UserFavorites;
    List<EntryViewModel>? UserImages;

    Selection SelectedSelection = Selection.Entries;

    protected override async Task OnInitializedAsync()
    {
        LoggedUserId = await authenticationStateProvider.GetUserIdAsync();
        var response = await userRequestService.GetUserAsync(username);
        if (response.IsSuccess)
        {
            User = await response.ResultAsync<UserViewModel>();
            await GetUserEntriesAsync();
            await GetUserFavoritesAsync();
        }
        UserState.SetResponse(response);
    }

    public async Task GetUserEntriesAsync()
    {
        UserEntriesState.Status = ResponseStatus.Waiting;
        var response = await entryRequestService.GetUserEntriesAsync(User.Id);
        if (response.IsSuccess)
            UserEntries = await response.ResultAsync<List<EntryViewModel>>();
        UserEntriesState.SetResponse(response);
    }

    public async Task GetUserFavoritesAsync()
    {
            UserFavoritesState.Status = ResponseStatus.Waiting;
            var response = await entryRequestService.GetUserFavoritesAsync(User.Id);
            if (response.IsSuccess)
                UserFavorites = await response.ResultAsync<List<EntryViewModel>>();
            UserFavoritesState.SetResponse(response);
    }

    public void GetUserImages()
    {
        SelectedSelection = Selection.Images;
    }

    public enum Selection
    {
        Entries, Favorites, Images
    }
}
